h1 {
    font-family: 'Potta One', cursive;
    text-align: center;
}
h1:hover {
    
}
body {
    margin-left: 10%;
    margin-right: 10%;
}
button {
    margin: 20px auto 50 auto;
    display: block;
    padding: 9 20;
    border-width: 2;
    border-style: solid;
}
button:hover {
    border: none;
    background-color: #c1c7c7;
    padding: 11 22;
}
p {
    color: gray;
    transition: 0.25s;
    text-align: center;
    font-size: 16px;
    font-family: 'Fraunces', serif;
}
p:hover {
    color: blue;
    font-size: 18.2px;
}